﻿@model Dolph.ExportToCsv.ViewModels.ExportViewModel

@{ 
    Layout.Title = T("Export").ToString();
    Script.Require("ExportToCsv");
}

@using (Html.BeginFormAntiForgeryPost()) {
    Html.ValidationSummary();
	<fieldset>
		<legend>@T("Choose the type to include in the export file:")</legend>
		<select name="contentTypes" id="contenttypes">	
            <option value="">-- Select one --</option> 	  
            @foreach (var contentTypeEntry in Model.ContentTypes) {
                <option value="@contentTypeEntry">@contentTypeEntry</option>                
            }
		</select>
    </fieldset>
    <div id="fields-container" style="display: none;">
        <fieldset>
		<legend>@T("Choose the fields you want to export:")</legend>
        <div id="choose-fields">

        </div>
		
    </fieldset>
    </div>
    <div id="empty-fields" style="display: none;">
        No records available for content type.
    </div>
    <hr />
    <button type="submit" class="primaryAction">@T("Export")</button>
}

